@property --dark-base {
    syntax: "<color>";
    inherits: true;
    initial-value: #6b3f69;
}

@property --base {
    syntax: "<color>";
    inherits: true;
    initial-value: #8d5f8c;
}

@property --light-base {
    syntax: "<color>";
    inherits: true;
    initial-value: #c89fc7;
}

@property --contrast-black {
    syntax: "<color>";
    inherits: true;
    initial-value: #28252a;
}

@property --contrast-neutral {
    syntax: "<color>";
    inherits: true;
    initial-value: #d1a980;
}

@property --contrast-white {
    syntax: "<color>";
    inherits: true;
    initial-value: #ffead8;
}

@property --contrast-green {
    syntax: "<color>";
    inherits: true;
    initial-value: #748873;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: var(--contrast-white);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 10px 50px 10px;
    background-color: var(--base);
    color: var(--contrast-white);
}

.headerItem {
    font-weight: bold;
    font-size: 20px;
}

button {
    background-color: var(--contrast-green);
    color: var(--contrast-white);
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
}

button:hover {
    background-color: #576656;
    color: var(--contrast-neutral);
    box-shadow: 10px #28252a;
}

.headerLogo {
    max-width: 70px;
    max-height: 70px;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;
    flex-grow: 1;
    padding: 50px;
    height: auto;
    color: var(--dark-base);
}

.companyName {
    font-size: 50px;
}

.companyTag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline {
    opacity: 0.8;
}

.companyLogo {
    margin: 20px;
}

.heroLogo {
    max-width: 300px;
    max-height: 300px;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: auto;
    background-color: var(--light-base);
    color: var(--contrast-black);
}

.aboutMe {
    max-width: 700px;
    font-size: large;
    font-weight: 500;
    line-height: 1.5;
}

.services {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: var(--contrast-neutral);
    color: var(--contrast-black);
    padding: 20px;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
    font-size: large;
    font-weight: bold;
    margin: 10px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: auto;
    background-color: var(--light-base);
}

.contactMe {
    color: var(--contrast-black);
}

.email {
    color: var(--contrast-black);
}

.call-to-action {
    font-size: larger;
}

.footer {
    display: flex;
    flex-grow: 1;
    background-color: var(--base);
    align-items: center;
    justify-content: center;
}

.footerText {
    color: var(--contrast-white);
}
